# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# Firebase
android/app/google-services.json

# VS Code
.vscode/
.idea/

# Misc
*.log
*.tmp
*.backup
*.zip